@font-face {
	font-family: 'tau';
	src:url('fonts/tau.eot?-l14dbh');
	src:url('fonts/tau.eot?#iefix-l14dbh') format('embedded-opentype'),
		url('fonts/tau.woff?-l14dbh') format('woff'),
		url('fonts/tau.ttf?-l14dbh') format('truetype'),
		url('fonts/tau.svg?-l14dbh#tau') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icontau-"], [class*=" icontau-"], .icontau {
	font-family: 'tau';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icontau-responsive:before {
	content: "\e615";
}

.icontau-lessons:before {
	content: "\e600";
}

.icontau-courses:before {
	content: "\e601";
}

.icontau-person:before {
	content: "\e602";
}

.icontau-people:before {
	content: "\e603";
}

.icontau-google:before {
	content: "\e604";
}

.icontau-facebook:before {
	content: "\e605";
}

.icontau-linked-in:before {
	content: "\e606";
}

.icontau-star:before {
	content: "\e607";
}

.icontau-rewards:before {
	content: "\e608";
}

.icontau-twitter:before {
	content: "\e609";
}

.icontau-desktop:before {
	content: "\e60a";
}

.icontau-bolt:before {
	content: "\e60b";
}

.icontau-add:before {
	content: "\e60c";
}

.icontau-delete:before {
	content: "\e60d";
}

.icontau-yes:before {
	content: "\e60e";
}

.icontau-expand:before {
	content: "\e60f";
}

.icontau-contract:before {
	content: "\e610";
}

.icontau-no:before {
	content: "\e611";
}

.icontau-play:before {
	content: "\e612";
}

.icontau-search:before {
	content: "\e613";
}

.icontau-link:before {
	content: "\e614";
}

